$BACKGROUND: #F7F7F7;
$mobile_width: 480px;
$tablet_width: 768px;
$desktop_width: 1024px;
$BLUE: #276ef1;
$GREY: #666666;
$GREY_500: #3a3b3c;
$PINK: #cc0066;

@mixin mobile {
  @media (max-width: #{$mobile_width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet_width}) and (max-width: #{$desktop_width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop_width}) {
    @content;
  }
}
:export {
  GREY: $GREY;
  GREY_500: $GREY_500;
  BLUE: $BLUE;
  PINK: $PINK;
  BACKGROUND: $BACKGROUND;
  mobile_width: $mobile_width;
  tablet_width: $tablet_width;
  desktop_width: $desktop_width;
}
